.main {
  background-color: $main-color;
  width: 100%;
  max-width: 450px;
  margin: 50px 0;
  padding: 2rem 1rem;
  border-radius: 1rem;

  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    .InputAddNewTask {
      width: 350px;
      height: 2.5rem;
      padding: .5rem;
      border: 1px solid $input-color;
      border-radius: 1rem;
      outline: none;
      background-color: $input-color;
      font-size: 1.250rem;
      color: $text-color;

      &::placeholder {
        opacity: .2;
        color: $text-color;
      }
    }

    .btnPlus {
      width: 2.5rem;
      height: 2.5rem;
      border: 1px solid $input-color;
      border-radius: 1rem;
      background-color: $input-color;
      color: $text-color;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .5s;

      &:hover {
        scale: 110%;
        border: 1px solid #000;
        cursor: pointer;
      }
    }
  }

  .listTasks {
    list-style: none;
    padding: 0;
    margin: 0;

    .task {
      padding: .725rem;
      background-color: $input-color;
      border-radius: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btnAction {
        border-radius: 50%;
        border: 1px solid $text-color;
        background-color: $main-color;
        width: 2.5rem;
        height: 2.5rem;
        color: $text-color;
        cursor: pointer;
        margin-right: .5rem;

        &:hover {
          scale: 110%;
        }

        &.btnRemove {
          &:hover {
            color: $input-color;
          }
        }
      }
    }
  }
}