.main {
  height: 100vh;
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .title-main {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
  }

  .tasks {
    width: 60%;
    height: auto;
    border: 1px solid $border-color;

    .task {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      list-style: none;

      #checkbox {}
    }
  }
}